.about {
  padding: 80px 0;
  &_information {
    padding: 20px 0;
    display: flex;
    gap: 20px;
    box-sizing: border-box;
    &_name {
      margin: 0;
      color: $color-primary;
    }
    &_tag {
      margin: 0;
      font-weight: 600;
    }
    &_description {
      margin: 40px 0 0;
    }
  }

  &_socialnetworks {
    padding: 0;
    margin: 3px 0 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
    list-style: none;
    li {
      text-align: center;
    }
    i {
      font-size: 35px;
    }
    &_youtube i {
      color: $color-youtube;
    }
    &_twitter i {
      color: $color-twitter;
    }
    &_facebook i {
      color: $color-facebook;
    }
    &_linkedin i {
      color: $color-linkedin;
    }
    &_github i {
      color: $color-github;
    }
    &_instagram i {
      color: $color-instagram;
    }
  }

  &_image {
    text-align: right;
    position: relative;
    max-width: 150px;
    margin-left: auto;
    img {
      width: 100%;
      height: 100%;
      border-radius: $radius;
    }
    &::after {
      content: "@felixcastro003";
      padding: 0 10px;
      position: absolute;
      bottom: 20px;
      right: 40px;
      color: red;
      background: $color-secondary;
      font-size: 25px;
      text-shadow: 1px 1px $color-text;
    }
  }
}

@media screen and (min-width: 768px) {
  .about {
    display: flex;
    align-items: center;
    justify-content: space-between;
    &_information {
      max-width: 300px;
      min-height: auto;
      margin: 0;
      flex-direction: column;
    }

    &_socialnetworks {
      margin-top: 20px;
      flex-direction: row;
    }

    &_image {
      margin-top: 0;
      width: 100%;
      max-width: 300px;
      padding-left: 80px;
      position: relative;
    }
  }
}


@media screen and (min-width: 1200px) {
  .about {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    &_information {
      max-width: 500px;
    }
    &_image {
      max-width: 400px;
      max-height: 500px;
      object-fit: cover;
    }
  }
}