.header {
  width: 100%;
  padding: 20px 0;
  position: fixed;
  top: 0;
  z-index: 10;
  background: $color-primary;
  &_menu {
    ul {
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      gap: 10px;
      list-style: none;
      a {
        color: $color-text-light;
        text-decoration: none;
      }
      a.active {
        border-bottom: 2px solid #fff;
      }
    }
  }
}

@media screen and (min-width: 540px) {
  .header {
    &_menu {
      ul {
        justify-content: center;
        gap: 40px
      }
    }
  }
}