.header {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 10;
  background: $color-primary;
  &_menu {
    ul {
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: space-around;
      list-style: none;
      a {
        color: $color-text-light;
        text-decoration: none;
      }
      a.active {
        border-bottom: 2px solid #fff;
      }
    }
  }
}

