.skills {
  margin: 0;
  padding: 30px 20px;
  background: $color-secondary;
  &_title {
    color: $color-primary;
    margin: 0;
    margin-bottom: 30px;
  }
  &_list {
    width: 100%;
    margin: 0 auto;
    padding: 0;
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr;
    list-style: none;
    color: $color-primary;
    font-size: 15px;
    li {
      display: flex;
      align-items: center;
      img {
        width: 30px;
        margin-right: 10px;
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .skills {
    &_title {
      text-align: center;
    }
    &_list {
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
  }
}

@media screen and (min-width: 1200px) {
  .skills {
    padding: 40px;
    &_list {
      font-size: 20px;
      gap: 40px;
    }
  }
}